<!DOCTYPE html>
<html>
<head>
  <title>MyOwnApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


  <%= render 'layouts/navigation' %>
  <%= render 'layouts/messages' %>
  <div class = "container">
    <%= yield %>
  </div>

 <footer>
	<p style = "text-align:center"> Created and Built by Raj Silari &copy 2016 </p> 
</footer> 


</body>
</html>

